body{
    background-color: #3d9b7d;
    color: white;
}
#greenie{
    background-color: rgba(0,128,0,0.5);
}
#greyer{
    background-color: hsl(0, 0%, 50%)
}
#bluel{
    background-color: rgb(0,0,255);
}
